section.form{
    padding: 100px 0;
    h2{
        text-align: center;
    }
    form{
        input{
            width: 50%;
            margin: auto;
            display: block;
            margin-bottom: 15px;
            &[type="submit"]{
                background: #000;
                color: #fff;
            }
        }
    }
}