//baisc

.section-header{
    p{
        text-align: center;
        color: #D99904;
        font-size: 20px;
        font-style: italic;
    }
    h2{
        text-align: center;
        padding: 30px 0;
    }
}

// banner css

.swip-title{
    text-align: center;
    margin-top: -50px;
    color: #fff;
    text-shadow: 4px 4px 6px #000;
}