nav.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    .navbar-brand{
        color: #fff;
    }
    .container-fluid{
        max-width: 1200px;
        margin: auto;
        .navbar-nav{
            margin-left: auto;
            li{
                list-style: none;
                .link-a{
                    color: #fff;
                    text-decoration: none;
                    padding: 5px 12px;
                }
            }
        }
    }
}


